@use "../../subStyles/_colors" as *;
@use "../../subStyles/_fonts" as *;

@media screen and (min-width: 923px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2vh;
        nav{
           
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-top: 5vh;
            
            li{
                a{
                text-decoration: none;
                color: $white;
                border: 2px solid;
                padding: 1vh;
                font-size: 20px;
            }
            }
        }
        img{
            height: 100%;
            width: 20%;
            margin-left: 10vw;
            
         
        }
    
    .active{
        color: $white;
        border-top: none;
        border-right: none;
        span{
            display: block;
            font-size: 50px;
        }
        
    }
    }
  }
  
  /* Mobile */
  @media screen and (max-width: 922px) {
    header{
        display: grid;
        grid-template-columns: 1fr;

        nav{
           text-align: center;
            list-style: none;
            display: block;
            
            li{
                
                color: $white;
                border-top: 2px solid;
                padding: 1.5vh 0vh 1.5vh 0vh;
                font-size: 20px;
                width: 100%;
            
                a{
                text-decoration: none;
                color: $white;

            }
            }
            li:first-of-type{
                margin-top: 5vh;
                }
                li:last-of-type{
                   border-bottom: solid white 2px;
                   
                }
        }
        img{
            display: flex;
            justify-self: center;
            height: 90%;
            width: 30%;
            margin-top: 2vh;
            
        }
    
    .active{
        color: white;
        border-bottom: 2px solid;
        border-top-style:groove;
        border-top: none
    }
    }
  }

