@use "../../subStyles/_colors" as *;
@use "../../subStyles/_fonts" as *;

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vh;
    nav{
       
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 5vh;
        
        li{
            a{
            text-decoration: none;
            color: $white;
            border: 2px solid;
            padding: 1vh;
            font-size: 20px;
        }
        }
    }
    img{
        height: 100%;
        width: 20%;
        margin-left: 10vw;
        
     
    }

.active{
    color: $white;
    border-top: none;
    border-right: none;
    span{
        display: block;
        font-size: 50px;
    }
    
}
}