header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vh;
    nav{
       
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding-top: 4vh;
        
        li{
            a{
            text-decoration: none;
            color: black;
            border: 2px solid;
            padding: 1vh;
            font-size: 20px;
        }
        }
    }
    img{
        height: 100%;
        width: 30%;
        margin-left: 10vw;
        aspect-ratio: 4 / 3;
     
    }

.active{
    color: rgb(0, 0, 0);
    border-top: none;
    border-right: none;
    span{
        display: block;
        font-size: 50px;
    }
    
}
}