header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vh;
    nav{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding-top: 4vh;
    }
    img{
        height: 100%;
        width: 30%;
        margin-left: 10vw;
        aspect-ratio: 4 / 3;
     
    }

    button{
        width: 10vw;
        height: 5vh;
        margin-left: 5vw;
        margin-top: 2vh;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: black;
        border-style: solid;
        border-width: 2px;
        
    }

}