

@media screen and (min-width: 923px) {
#frontPageImg{
    height: 100%;
    width: 50vw;
}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 922px) {
    img{
        width: 100%;
    }
}