footer{
    background-color: rgb(31, 31, 31);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    button{
        background-color: blue;
        border: none;
        font-size: 25px;
        color: white;
        padding: 1vh;
    }
}