footer{
    background-color: rgb(31, 31, 31);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    button{
        background-color: blue;
        border: none;
        font-size: 25px;
        color: white;
        padding: 1vh;
    }

    article:first-of-type{
        margin-left: 2vw;
    }
    article:last-of-type{

          h4{
            width: 50%;
border-bottom: white 1px solid;    }  
    }

}