@use "../../subStyles/_colors" as *;
@use "../../subStyles/_fonts" as *;

@media screen and (min-width: 923px) {
footer{
    background-color: rgb(55, 53, 53);
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20vh;
    a{
        text-decoration: none;
        
        h3{
        background-color: $blue;
        border: none;
        font-size: 25px;
        color: $white;
        padding: 1vh;
        width: fit-content;
        
    }
    }
    

    article:first-of-type{
        margin-left: 2vw;
    }
    article:last-of-type{

          h4{
            width: 50%;
border-bottom: white 1px solid;    }  
    }
div{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: left;
    width: 100%;
    margin-left: 3vw;
    p{
    
    margin-right: 2vw;  
    }
    a{
        font-size: 35px;
        vertical-align: middle;
    }
}

img{
    padding-top: 1vh;
    height: 4vh;
    margin-right: 3vh;
    margin-bottom: 1vh;
   // background-color: white;
} 
}

  }
  
  /* Mobile */
  @media screen and (max-width: 922px) {
    footer{
        background-color: rgb(55, 53, 53);
        color: $white;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            
            h3{
            background-color: $blue;
            border: none;
            font-size: 25px;
            color: $white;
            padding: 1vh;
            width: fit-content;
            
        }
        }
    
        article:first-of-type{
            margin-left: 2vw;
            display: block;
            text-align: center;
        }
        article:last-of-type{
    text-align: center;
    margin-left: 35vw;
              h4{
                width: 50%;
    border-bottom: white 1px solid;    }  
        }
        div{
            display: grid;
            grid-template-columns: repeat(4, 20%);
            justify-content: center;
            width: 100%;
        
            a{
                font-size: 35px;
            }
        }
    img{
    width: 9vw;
    padding-top: 0.5vh;
        
        margin-bottom: 1vh;
       // background-color: white;
    }
    }
  }

